@import url('https://fonts.googleapis.com/css2?family-Chakra+Petch:w ght@400:700&display=swap'); 

:root {
    --cor-de-fundo: #1E1E1E;
    --preto: #000000;
    --azul:#ffffff; 
    --botao-ativo: #3A375E;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-fundo: rgba(58, 55, 94, 0.3);
}


body {
    color: var(--azul);
    background-image: linear-gradient(to right, #363636, #363636);
    font-family: 'Chakra Petch';
    font-size: 20px;
    
}

footer {
    text-align: center;
}

header {
    background-color: #fcfcfc;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
}

.botao {
    border-radius: 15px;
}

.botao2 {
    border-radius: 15px;
    background-color: #fdfdfd;
    font-family: 'Tac One', 'Sans-serif';
    font-size: 15px;
}

.imagem2 {
    text-align: center;
    padding: 1em 1em 1em;
    
}

.texto {
    text-align: center;
}